@using ECommerse.Models.ViewModels
@model BasketViewModel

@if (Model.BasketItems.Count == 0)
{
    <h4>Your basket is empty!</h4>
}

@foreach (var item in Model.BasketItems)
{
    var product = Model.Products.Find(p => p.ID == item.ProductID);

    <div> 
        <div class="basketitem">
            <img src="@product.Image" alt="@product.Description" />
            <h4>@product.Name</h4>
            <p>@product.Price</p>
            <a asp-action="RemoveFromBasket" asp-controller="Basket" asp-route-ID="@item.ID">Remove</a> 
        </div>    
    </div>

}