@model ECommerse.Models.ViewModels.OrderViewModel


@{
    ViewData["Title"] = "Receipt";
}

<h2>Receipt</h2>

@foreach (var item in Model.Products)
{
    <h3>@item.Name</h3>
    <h3>@item.Price</h3>
}

<h4>Shippy address: @Model.UserOrder.ShippingAddress</h4>
<h4>City: @Model.UserOrder.City</h4>
<h3>Total: @Model.UserOrder.Total</h3>

<h2>Thank you @User.Identity.Name for shopping at The Dino Store!</h2>