@model ECommerse.Models.ViewModels.OrderViewModel


@{
    ViewData["Title"] = "ViewOrder";
}

<h2>Review your Order</h2>


@foreach (var item in Model.TheOrder.Products)
{
    <h3>@item.Name</h3>
    <h3>@item.Price</h3>
}


    <form>
        <div>
            <label asp-for="@Model.UserOrder.ShippingAddress"></label>
            <input asp-for="@Model.UserOrder.ShippingAddress" />
        </div>

        <div>
            <label asp-for="@Model.UserOrder.CardNumber"></label>
            <input asp-for="@Model.UserOrder.CardNumber" />
        </div>
    </form>

<a asp-action="Receipt" asp-controller="Checkout">Proceed to Check Out</a>